header.header
    .header__wrapper
        .header__column
            a.logo(href=routes.home)
                i.fas.fa-cat.titc
        .header__column
            form.search(action=routes.search, method="get")
                input(type="text", placeholder="Search for term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) 회원가입
                    li
                        a(href=routes.login) 로그인
                else
                    li
                        a(href=`/videos${routes.upload}`) 업로드
                    li
                        a.round.sm(href=routes.me)
                            img.avatar(src=user.avatarUrl)

                    //- li
                    //-     a(href=routes.logout) 로그아웃