header.header
    .header__wrapper
        .header__column
            a.logo(href=routes.home)
                i.fas.fa-cat.titc
        .header__column
            form.search(action=routes.search, method="get")
                input(type="text", placeholder="Search for term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Login
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.me) Profile
                    li
                        a(href=routes.logout) Log Out