.social-login
    a(href=routes.gitHub)
        span
            i.fab.fa-github
            | Continue with Github
    a(href=routes.facebook)
        span
            | Continue with Facebook
    a(href=routes.kakao)
        span
            | Continue with Kakao
    a(href=routes.naver)
        span
            | Continue with Naver
    a(href=routes.google)
        span
            | Continue with Google