.social-login
    .or-text.txtb 또는
    a(href=routes.gitHub)
        span
            i.fab.fa-github-alt
            | 깃허브 로그인
    a(href=routes.facebook)
        span
            i.fab.fa-facebook-f
            | 페이스북 로그인
    a(href=routes.kakao)
        span
            i.fas.fa-comment
            | 카카오 로그인
    a(href=routes.naver)
        span
            i.fas.fa-sticky-note
            | 네이버 로그인
    a(href=routes.google)
        span
            i.fab.fa-google
            | 구글 로그인