extends layouts/main
include mixins/videoPlayer
include mixins/modalBlock

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__author
                a(href=routes.userDetail(video.creator.id))
                    span.round.sm
                        img.u-avatar(src=video.creator.avatarUrl)
                    span.u-name=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1
                    |  댓글
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  댓글

            .comment-user
                span.round.sm
                    if loggedUser          
                        img.u-avatar(src=user.avatarUrl)
                    else if loggedUser == null
                        //- img.u-avatar.default(src=)
                        span 로그아웃 로그아웃 로그아웃 로그아웃 일 때,
            if loggedUser            
                form.add__comment#jsAddComment
                    input(type="text", placeholder="Add a comment")
            else if loggedUser == null
                form.add__comment#jsUserNull
                    input(type="text", placeholder="로그인을 해주세요.")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        a.comment__content(href=routes.userDetail(comment.creator))
                            span.round.sm
                                img.u-avatar(src=comment.avatarUrl)
                        .wrap
                            a.comment__content(href=routes.userDetail(comment.creator))
                                p.u-name=comment.name
                            div.jsComment=comment.text
                        if loggedUser && comment.creator.toString() === loggedUser.id.toString()
                            button.comment__remove(id=`${comment._id}`) ❌
    +modalBlock({
        type: "info",
        text: "Sign in to make your opinion.",
        link1: routes.login,
        linkText1: "Login",
        link2: routes.join,
        linkText2: "Join",
        close: "닫기"
    })