extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__author
                a(href=routes.userDetail(video.creator.id))
                    img.u-avatar(src=video.creator.avatarUrl)
                    span.u-name=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1
                    |  댓글
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  댓글
            .comment-user
                
                    //- img.u-avatar(src=comment.avatarUrl)
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        .comment__content
                            span.round.sm
                                img.u-avatar(src=comment.avatarUrl)
                            .wrap
                                p.u-name=comment.name
                                div.jsComment=comment.text
                        if loggedUser && comment.creator.toString() === loggedUser.id.toString()
                            button.comment__remove(id=`${comment._id}`) ❌