mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            //- video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=false)
            video.videoBlock__thumbnail.vid(controls=false, muted, preload="metadata")
                //- source(src=`/${video.videoFile}`, type="video/mp4")
                //- source(src=`/${video.videoFile}`)
                //- aws 연결 후, 경로 수정
                source(src=video.videoFile, type="video/mp4")
                source(src=video.videoFile, type="video/ogg")
                span 현재 사용하고 있는 브라우저는 비디오 태그를 지원하지 않습니다.
            h4.videoBlock__title.tita=video.title
            .views__wrap
                if video.views === 1
                    i.far.fa-eye.clg
                    span.videoBlock__views.num.lt 1 
                else
                    i.far.fa-eye.clg
                    span.videoBlock__views.num.lt #{video.views}