extends layouts/main
include mixins/videoPlayer
include mixins/modalBlock

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a.edit-btn(href=routes.editVideo(video.id))
                    button Edit video
            h2.video__title.titb.break=video.title
            .views__wrap
                if video.views === 1
                    i.far.fa-eye.clg
                    span.video__views.num 1
                else
                    i.far.fa-eye.clg
                    span.video__views.num #{video.views}
            .upload__date
                span=`${dateFormatter(video.createdAt)}`
            .video__author
                a(href=routes.userDetail(video.creator.id))
                    span.round.sm
                        img.u-avatar(src=video.creator.avatarUrl)
                    span.u-name.txtb.st=video.creator.name
            p.video__description.txta=video.description
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span.txta.num#jsCommentNumber 1
                    span Comment
            else
                span.video__comment-number
                    span.txta.num#jsCommentNumber=video.comments.length
                    span Comments
            .wrap
                .comment-user
                    span.round.sm
                        if loggedUser          
                            img.u-avatar(src=user.avatarUrl)
                        else if loggedUser == null
                            span.null__user
                                i.fas.fa-user
                if loggedUser            
                    form.add__comment#jsAddComment
                        input(type="text", placeholder="Add a comment")
                else if loggedUser == null
                    form.add__comment#jsUserNull
                        input(type="text", placeholder="로그인을 해주세요.")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        a.comment__user(href=routes.userDetail(comment.creator))
                            span.round.sm
                                img.u-avatar(src=comment.avatarUrl)
                        .comment-wrap
                            a.comment__content(href=routes.userDetail(comment.creator))
                                p.u-name.txtb.st=comment.name
                            div.comment__text.jsComment.txta=comment.text
                        if loggedUser && comment.creator.toString() === loggedUser.id.toString()
                            button.comment__remove(id=`${comment._id}`) ❌
    +modalBlock({
        type: "info",
        text: "로그인 후, 댓글을 달아주세요.",
        link1: routes.login,
        linkText1: "로그인",
        link2: routes.join,
        linkText2: "회원가입",
        close: "닫기"
    })