mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            //- video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=false)
            video.videoBlock__thumbnail(controls=false)
                source(src=`/${video.videoFile}`, type="video/mp4")
                source(src=`/${video.videoFile}`)
                span 현재 사용하고 있는 브라우저는 비디오 태그를 지원하지 않습니다.
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views